# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.*.local

# Node
node_modules/
dist/
coverage/

# Prisma
backend/prisma/dev.db
backend/prisma/dev.db-journal

# Build
.angular/
tmp/
temp/

# Misc
*.tsbuildinfo