NODE_ENV=development
PORT=3000
API_PREFIX=api/v1
APP_NAME=citas-saas-api
APP_VERSION=1.0.0

DATABASE_URL="postgresql://citas_user:citas_password@localhost:5432/citas_saas?schema=public"

CORS_ORIGIN=http://localhost:4200

JWT_ACCESS_SECRET=change_this_access_secret_in_next_block
JWT_ACCESS_EXPIRES_IN=7d

LOG_LEVEL=debug

SEED_SUPERADMIN_EMAIL=superadmin@local.test
SEED_SUPERADMIN_PASSWORD=ChangeThisPassword123!
SEED_SUPERADMIN_FIRST_NAME=Super
SEED_SUPERADMIN_LAST_NAME=Admin
SEED_SUPERADMIN_PHONE=600000000